/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 07-Oct-2024, 12:18:36 am
    Author     : gursi
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(17, 24, 39, 1); 
    color: #fff; 
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: rgba(31, 41, 55, 1); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #a5b4fc; 
}

label {
    font-weight: bold;
    color: #a5b4fc; 
}

input, select, textarea {
    width: 100%;
    padding: 10px 0px 10px 3px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(75, 85, 99, 1); 
    color: #fff; 
}

input[type="submit"] {
    background-color: rgba(167, 139, 250, 1); 
    color: #fff; 
    border: none;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgba(139, 92, 246, 1); 
}
