/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 06-Oct-2024, 7:28:38 pm
    Author     : gursi
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(17, 24, 39, 1);
    color: #fff;
}

.profile-container {
    width: 60%;
    margin: 50px auto;
    background-color: rgba(31, 41, 55, 1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #a5b4fc;
}

.user-info, .repair-status, .cost-details {
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgba(55, 65, 81, 1);
    border-radius: 5px;
}

p {
    margin: 10px 0;
}

.progress-bar {
    width: 100%;
    background-color: #4b5563;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 20px;
}

.progress {
    height: 100%;
    background-color: #10b981;
    border-radius: 5px;
}

